@font-face {
    font-family: 'anderson_groteskregular';
    src: url('fonts/anderson-grotesk/andersongrotesk-webfont.woff2') format('woff2'),
         url('fonts/anderson-grotesk/andersongrotesk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anderson_groteskblack';
    src: url('fonts/anderson-grotesk/andersongrotesk-black-webfont.woff2') format('woff2'),
         url('fonts/anderson-grotesk/andersongrotesk-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anderson_groteskbold';
    src: url('fonts/anderson-grotesk/andersongrotesk-bold-webfont.woff2') format('woff2'),
         url('fonts/anderson-grotesk/andersongrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anderson_groteskbold';
    src: url('fonts/anderson-grotesk/andersongrotesk-bold-webfont.woff2') format('woff2'),
         url('fonts/anderson-grotesk/andersongrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anderson_groteskboldoblique';
    src: url('fonts/anderson-grotesk/andersongrotesk-boldoblique-webfont.woff2') format('woff2'),
         url('fonts/anderson-grotesk/andersongrotesk-boldoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anderson_grotesklightoblique';
    src: url('fonts/anderson-grotesk/andersongrotesk-lightoblique-webfont.woff2') format('woff2'),
         url('fonts/anderson-grotesk/andersongrotesk-lightoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
  font-family: 'anderson_groteskboldoblique';
  font-size: 40px;
  color: #ff7733;
  text-align: center;
  padding-top: 200px;
}

body {
  font-family: 'anderson_grotesklightoblique', serif;
  font-size: 25px;
  text-align: center;
  color: #f7a072;
      }

footer {
  font-family: 'anderson_groteskblack', serif;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}


fb9501
