header {
  font-family: 'Playfair Display', bold;
  font-size: 56px;
  color: #D05A26;
  text-align: center;
  padding-top: 200px;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: center;
  color: #D05A26;
      }

footer {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}


fb9501
